@import 'base/variables';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/info';
@import 'blocks/about';
@import 'blocks/shops';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/title';
@import 'blocks/buttons';

* {
    font-family: 'Roboto', 'Arial', sans-serif;

    box-sizing: border-box;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.divider {
    width: 65px;
    height: 7px;
    margin: 0 auto;

    background-color: $main_color;
}

h2 {
    text-align: center;
}