.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 45px;
    margin: 0 auto;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #fff;

    background-color: $main_color;
    border: none;
    border-radius: 35px;
    outline: 0;

    cursor: pointer;

    transition: 0.4s all;

    &:hover, &:focus, &:active {
        background-color: #d72935;
    }
}