.contacts {
    padding: 50px 0;

    &__form {
        width: 585px;
        margin: 40px auto 0 auto;

        &-wrapper {
            // display: grid;
            // grid-template: repeat(3, 50px) 130px/ repeat(2, 280px);
            // justify-content: space-between;
            // grid-auto-rows: 50px;
            // row-gap: 10px;
            // column-gap: 25px;
            display: flex;
            flex-wrap: wrap;
        }

        &_invalid {
            input,
            select,
            textarea {
                box-shadow: 0 1px 5px 0 #e74246;

                outline: 2px solid #e74246;
                outline-offset: -2px;
            }
        }
    }

    input,
    &__input-textarea,
    &__input-select {
        width: 100%;
        padding: 0 30px 0 20px;

        font-size: 14px;
        line-height: 16px;
        color: #3e3e3e;

        border: 1px solid #9b9b9b;

        &::placeholder {
            font-size: 14px;
            color: #9b9b9b;
        }
    }

    input,
    &__input-select {
        margin-bottom: 10px;
        height: 50px;

        &[name=phone],
        &[type=email] {
            width: 280px;
        }

        &[name=phone] {
            margin-right: 25px;
        }
    }

    &__input-textarea {
        padding-top: 10px;

        height: 130px;

        resize: none;
    }

    input.error,
    textarea.error {
        border: 2px solid #cf0606;
    }

    label.error {
        font-size: 14px;
        color: #cf0606;
    }
    
    .button_submit {
        margin-top: 50px;
    }
}