.contacts {
    padding: 50px 0;

    &__form {
        width: 585px;
        margin: 40px auto 0 auto;

        &-wrapper {
            // display: grid;
            // grid-template: repeat(3, 50px) 130px/ repeat(2, 280px);
            // justify-content: space-between;
            // grid-auto-rows: 50px;
            // row-gap: 10px;
            // column-gap: 25px;
            display: flex;
            flex-wrap: wrap;
        }

        &_invalid {
            input,
            select,
            textarea {
                box-shadow: 0 1px 5px 0 #e74246;

                outline: 2px solid #e74246;
                outline-offset: -2px;
            }
        }
    }

    input,
    &__input-textarea,
    &__input-select {
        width: 100%;
        padding: 0 30px 0 20px;

        font-size: 14px;
        line-height: 16px;
        color: #3e3e3e;

        border: 1px solid #9b9b9b;

        &::placeholder {
            font-size: 14px;
            color: #9b9b9b;
        }
    }

    option {
        color: #9b9b9b;
    }

    input {
        margin-bottom: 10px;
        height: 50px;

        &[name=phone],
        &[type=email] {
            width: 280px;
        }

        &[name=phone] {
            margin-right: 25px;
        }
    }

    &__input-textarea {
        padding-top: 10px;

        height: 130px;

        resize: none;
    }
    
    .button_submit {
        margin-top: 50px;
    }
// ------------------------------------------------
    .select {
        position: relative;
        
        display: inline-block;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;

        font-size: 16px;
        color: #fff;
        
        cursor: pointer;

        &-styled {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            padding: 10px 20px;

            font-size: 14px;
            line-height: 26px;
            color: #3e3e3e;

            border: 1px solid #9b9b9b;

            &::after {
                content: "";

                position: absolute;
                top: 20px;
                right: 20px;

                width: 0;
                height: 0;

                border: 5px solid transparent;
                border-color: #3e3e3e transparent transparent transparent;
            }

            &.active {
                border-bottom: none;
                &::after {
                    top: 14px;
                    right: 20px;
                    border-color: transparent transparent #3e3e3e transparent;
                }
            }
        }

        &-options {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: 9;

            display: none;
            margin: 0;
            padding: 0;
            min-height: 110px;

            list-style: none;

            color: #000;

            border-right: 1px solid #9b9b9b;
            border-bottom: 1px solid #9b9b9b;
            border-left: 1px solid #9b9b9b;

            & li {
                margin: 0;
                padding: 8px 5px;

                font-size: 14px;
                line-height: 16px;
                text-indent: 15px;
                color: #9b9b9b;

                background: #fff;

                &[rel="hide"] {
                    display: none;
                }
            }
            
            
        }

        &-hidden {
            display: none;
            visibility: hidden;
            padding-right: 10px;
        }
    }
}