@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .shops {
        .slick-prev,
        .slick-next {
            top: -43%;
        }
    
    
        .slick-prev {
            right: 8%;
        }
    
        .slick-next {
            right: 3%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px; 
    }

    .header {
        &__logo {
            width: 230px;
        }
    
        &__info {
            max-width: 210px;

            font-size: 12px;
    
            &-link, &-phone {
                padding: 3px 6px 3px 0;
                font-size: 12px;
            }

            &-phone {
                padding: 3px 0 3px 6px;
            }
    
        }
    
        &__social { 
            justify-content: flex-end;
            width: 190px;

            font-size: 12px;
    
            &-item {
                width: 36px;
                height: 36px;
            }
        }
    }

    .nav {
        &__link {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .advantages {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 140px;
            margin-bottom: 15px;
    
            &-img {
                width: 45px;
                height: 45px;
            }
    
            &-descr {
                margin: 25px 0 0;
    
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                color: #3e3e3e;
            }
        }
    }

    .shops {
        .swiper {
            &__item {
                width: 240px;
                height: 240px;
            }
        }

        .slick-slide {
            margin-right: 30px;
        }

        .slick-prev {
            right: 9%;
        }
    
        .slick-next {
            right: 3%;
        }
    }

    .footer {
        &__logo {
            width: 230px;
        }

        &__address {
            width: 180px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header {
        &__logo {
            width: 170px;
        }
    
        &__info {
            max-width: 210px;

            text-align: center;

            &-wrapper {
                justify-content: center;
            }
    
        }
    
        &__social { 
            width: 110px;

            span {
                margin-right: 0;
            }
    
            &-item {
                width: 28px;
                height: 28px;

                &:not(:last-child) {
                    margin-right: 5px; 
                }
            }
        }
    }

    .slider {
        &__item {
            img {
                height: 350px;
                @include object-fit(cover, 30%);
            }
        }
    }

    .nav {
        display: none;
        top: 100%;
        left: -100%;

        width: 40%;

        transition: 0.4s all;
        transform: translateX(0);

        &__link {
            font-size: 14px;
            line-height: 22px;
        }

        &_active {
            left: 0;
            display: block;
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
            min-height: 350px;

            background-color: rgba(0, 0, 0, 0.5);
            border-bottom: none;

            transition: 0.4s all;
        }

        &__item {
            width: 100%;
        }

        &__link {
            padding: 10px 20px;
        }

        .container {
            width: 100%;
            height: 0;
        }
    }

    .slider {
        .hamburger {
            display: flex;
        }
    }

    .about {
        &__wrapper {
            flex-direction: column;
        }

        &__container {
            width: 100%;

            &:nth-child(2) {
                margin-top: 15px;
            }
        }
    }

    .shops {
        .swiper {
            &__item {
                width: 220px;
                height: 220px;
            }
        }

        .slick-prev,
        .slick-next {
            top: -48%;
        }

        .slick-prev {
            right: 11%;
        }
    
        .slick-next {
            right: 3%;
        }
    }

    .contacts {
        &__form {
            width: 540px;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 0 30px 0 20px;

            font-size: 14px;
            line-height: 16px;
            color: #3e3e3e;

            border: 1px solid #9b9b9b;

            &::placeholder {
                font-size: 14px;
                color: #9b9b9b;
            }
        }

        input,
        select {
            margin-bottom: 10px;
            height: 50px;

            &[name=phone],
            &[type=email] {
                width: 100%;
            }

            &[name=phone] {
                margin-right: 0;
            }
        }

        textarea {
            padding-top: 10px;

            height: 130px;

            resize: none;
        }
    }

    .footer {
        padding: 40px 0 70px 0;

        &__logo {
            width: 170px;
        }

        &__address {
            width: 140px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%; 
    }

    .title {
        font-size: 24px;
        line-height: 32px;
    }

    .divider {
        width: 55px;
        height: 5px;
    }

    .header {
        &__logo {
            width: 190px;
        }
    
        &__info {
            display: none;
        }
    
        &__social { 
            width: 150px;

            span {
                display: none;
            }

            &-item {
                width: 26px;
                height: 26px;
                margin-top: 0;
            }
        }
    }

    .nav {
        width: 60%;

        &__list {
            min-height: 300px;
        }

        &__link {
            font-size: 12px;
        }
    }

    .slider {
        .hamburger {
            top: 10px;
            right: 10px;
        }
    }

    .advantages {
        &__item {
            &-img {
                width: 40px;
                height: 40px;
            }

            &-descr {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .about {
        &__container {
            padding: 0 10px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .shops {
        .slick-slide {
            width: 200px;
            height: 200px;

            margin-right: 10px;
        }

        .slick-prev,
        .slick-next {
            top: -22%;
        }

        .slick-prev {
            right: 14%;
        }
    
        .slick-next {
            right: 3%;
        }
    }

    .contacts {
        padding: 30px 0;
    
        &__form {
            width: 100%;
            margin: 30px auto 0 auto;
        }

        textarea {
            height: 150px;
        }
        
        .button_submit {
            margin-top: 30px;
        }
    }

    .footer {
        padding: 30px 0 50px 0;

        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__logo {
            width: 250px;
        }

        &__address,
        &__contacts {
            width: 250px;
            margin-top: 20px;

            text-align: center;
        }
    }
}

@media (max-width: 450px) {
    .shops {
        .slick-slide {
            width: 200px;
            height: 200px;

            margin-right: 5px;
        }

        .slick-prev {
            right: 15%;
        }
    
        .slick-next {
            right: 3%;
        }
    }
}

@media (max-width: 330px) {
    .shops {
        .slick-prev {
            right: 17%;
        }
    }
}