.slider {
    position: relative;

    width: 100%;
    // background: url('../img/banner.png') center center/cover no-repeat;

    &__wrapper {
        position: relative;
    }

    &__item {
        img {
            width: 100%;
            height: 450px;
            @include object-fit(cover, center);
        }
    }

    &__dots {
        position: absolute;
        left: 50%;
        bottom: 20px;

        display: flex;
        justify-content: center;
        width: 100px;

        transform: translateX(-50%);
        
        .dot {
            display: block;
            width: 14px;
            height: 14px;
            margin: 0 10px;
            
            background-color: #fff;
            border-radius: 50%;
            
            transition: background-color 0.4s ease;

            cursor:pointer;

            outline: none;
            
            &_active {
                background-color: $main_color;
            }
        }
    }
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 5;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 16px;

    cursor: pointer;
    
    span {
        display: block;
        width: 30px;
        height: 2px;
    
        background: #fff;
        
        &.long {
            width: 35px;
        }
    }

    &_active {
        span {
            margin-bottom: -2px; 

            &:first-child {
                transform: translateY(10px) rotate(-45deg); 
            }

            &.long {
                display: none;
            }

            &:last-child {
                transform: translateY(-5px) rotate(45deg); 
            }
        }
    }
}